@import url('https://fonts.googleapis.com/css?family=Belleza');
        
html, body {
    margin:0;
    height:100%;
    padding:0;
    font-family:'Belleza', sans-serif;
}
.home-page {
    background:url("http://vignette3.wikia.nocookie.net/clashroyale/images/5/50/Wiki-background/revision/latest?cb=20160105005708")no-repeat center center fixed;
    text-align:center;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Belleza', sans-serif;
  height:100%;
}

.home-header {
    color:teal;
    margin: 0;
}

.h1-home {
    margin: 0;
    color:blue;
    font-size:10vmax;
}

.h3-home {
    color:blue;
    font-size:2.5vmax;
}

.home-tagline {
    color:blue;
    font-size:25px;
}
button {
    font-family:'Belleza', sans-serif;
    color:blue;
    border:3px solid blue;
    background:black;
    padding:10px 35px 10px 35px;
    font-size:20px;
}
button:hover {
    color:black;
    border:3px solid black;
    background:blue;
    padding:10px 35px 10px 35px;
    font-size:20px;
}

/* INFO PAGE */
.info-page{
    background:url("http://vignette3.wikia.nocookie.net/clashroyale/images/5/50/Wiki-background/revision/latest?cb=20160105005708")no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Belleza', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align:center;
}

.pic-table {
    margin:0;
    padding-top:5%;
}

.pic {
    height:20vmax;
    width:20vmax;
    margin:1%;
    display:inline-block;
}

#p1 {
    background:blue;
    background-size:cover;
    font-size:2.5vmax;
    color:black;
}

#p2 {
    background:blue;
    background-size:cover;
    font-size:2.5vmax;
    color:black;
}

#p3 {
    background:blue;
    background-size:cover;
    font-size:2.5vmax;
    color:black;
}

#p4 {
    background:blue;
    background-size:cover;
    font-size:2.5vmax;
    color:black;
}

.info-page-header {
    font-size:10vmax;
    color:blue;
    font-weight:bold;
}

.info-page-introduction {
    font-size:2.5vmax;
    color:blue;
    font-weight:bold;
}


